.left {
	margin: 10px 0 0 0;
	padding: 20px;
	.title {
		font-size: 1.4rem;
		font-weight: 700;
		color: var(--main-color);
		margin-bottom: 10px;
	}

	.time-order {
		span:not(first-of-type) {
			margin-right: 10px;
		}
	}

	.card-product {
		margin-top: 20px;
		img {
			width: 200px;
			height: 200px;
			border-radius: 10px;
		}
		.name {
			font-size: 1.2rem;
			color: var(--main-color);
			font-weight: 500;
		}

		.price {
			color: red;
			margin-bottom: 20px;
		}
	}

	.detail-seller {
		margin-top: 50px;
		.avatar {
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 3px solid gray;
			}
		}
		.name {
			margin-left: 10px;
			font-size: 1.2rem;
			font-weight: 500;
			color: var(--main-color);
		}

		.rating {
			margin-left: 10px;
		}
	}
}
.right {
	margin: 10px 0 0 30px;
	padding: 20px;
	.title {
		font-size: 1.4rem;
		font-weight: 700;
		color: var(--main-color);
		margin-bottom: 10px;
	}
	.detail-order {
		.name {
			margin-left: 20px;
			font-size: 1.2rem;
			font-weight: 500;
			color: var(--main-color);
		}

		.avatar {
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 3px solid gray;
			}
		}
		.info {
			margin: 30px 0 0 20px;
			p {
				position: relative;
				margin: 20px 0;
				padding-top: 0px;
			}
			svg {
				margin-right: 10px;
				width: 15px;
				padding-top: 4px;
			}

			input {
				position: absolute;
				right: 15px;
				top: -8px;
				padding: 5px;
				border: 1px solid gray;
				width: 70%;
				margin-left: 10px;
				border-radius: 8px;
			}

			textarea {
				position: absolute;
				top: 0px;
				margin-left: 10px;
				border: 1px solid gray;
				width: 70%;
				top: -8px;
				right: 15px;
				padding: 5px;
				border-radius: 8px;
			}
		}

		hr {
			margin: 50px 0;
		}

		.price {
			margin: -20px auto 0 auto;
			position: relative;
			width: 300px;
			span {
				position: absolute;
				right: 10px;
				font-weight: 500;
			}
		}
	}

	// .style={{ textAlign: "center", marginTop: 20 }}
	.order-btn {
		text-align: center;
		margin-top: 20px;
		button {
			width: 90%;
			padding: 8px 0;
		}
	}
}
