.info-user {
	position: relative;
	padding: 20px;
	.edit-btn {
		position: absolute;
		right: 20px;
		top: 30px;
	}
	.avatar {
		margin: 20px 0 0 30px;
		img {
			width: 90px;
			height: 90px;
			border-radius: 50%;
		}
	}

	.name {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 1.4rem;
		font-weight: 700;
		color: var(--orange-color);
	}

	.info {
		width: 80%;
		display: flex;
		justify-content: space-between;
		p {
			font-size: 0.9rem;
			color: gray;
		}
		span {
			display: block;
			font-weight: 700;
		}
	}
}

form {
	text-align: center;
	input {
		width: 400px;
		margin: 20px 0px;
	}
}

.info-activity {
    padding: 20px;
    .title {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--main-color);
    }
}
