.carousel {
	width: 100%;
	background-color: #eeeeee;
	text-align: center;
	img {
		max-width: 300px;
		min-width: 200px;
		max-height: 400px;
		min-height: 250px;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		background-color: black;
	}
}

.details {
	.title {
		font-size: 25px;
		margin: 10px 0;
		color: var(--main-color);
		font-weight: 700;
	}
	.price {
		font-size: 20px;
		color: red;
		font-weight: 500;
		margin-bottom: 20px;
	}

	.note {
		margin: 5px;
		margin-right: 70px;
		.icon {
			margin-right: 10px;
			width: 15px;
		}
	}
}

.description {
	white-space: pre-line;
	margin-left: 10px;

	.info {
		margin-left: 20px;
		.icon {
			width: 10px;
			margin: 3px 10px 0 0;
		}
	}
}

.right {
	.button {
		margin-top: 50px;
		button {
			display: block;
			width: 95%;
			margin: 10px auto;
		}
	}
}

.detail-seller {
	margin: 10px;
	display: flex;
	align-items: center;
	hr {
		margin-top: 35px;
	}
	.avatar {
		img {
			width: 60px;
			height: 60px;
			border: 3px solid gray;
			border-radius: 50%;
			margin-right: 15px;
		}
	}
	span {
		.name {
			font-size: 1.2rem;
			font-weight: 700;
			color: var(--main-color);
		}
	}
}

.other-items {
	width: 100%;
	margin: 0 0 15px 10px ;
}
