.table {
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	thead {
		background-color: var(--light-color) !important;
	}
}

.name {
	color: var(--main-color);
	padding: 0px 1px;

	&:hover {
		font-weight: 700;
		cursor: pointer;
		padding: 0px;
	}
}

.update-modal {
	width: 600px;
	input,
	textarea {
		width: 550px;
	}
}

// .select-role {
//     position: relative;
//     border: 1px solid var(--main-color);
//     border-radius: 8px;
//     width: 560px;
//     padding: 10px;
//     margin-left: 20px;
//     height: 50px;
//     span {
//         position: absolute;
//         float: left;

//     }
//     select {
//         width: 540px;
//         padding: 10px;
//         border: none;
//         outline: none;
//     }
// }

.ant-upload {
	.ant-upload-list-item-name {
		display: none !important;
	}
}
