.container {
  position: relative;
 //height: fit-content;
}

.section-1 {
  background-attachment: fixed;
  height: 300px;

  i {
    color: var(--main-color);
  }
}

.content {
  position: absolute;
  top: 150px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 65%;
  padding: 40px 10px;
  text-align: center;

  p {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0px 30px 0px;
  }

  a {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 3px;
  }
}

.section-2 {
  z-index: 1;
  text-align: center;
  width: 100%;
  background-color: white;
  h2 {
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 20px 0;
    font-weight: 500;
  }

  .item-list {
    width: 80%;
    img {
      width: 280px;
      border-radius: 5px;
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--main-color);
      margin-top: 10px;
    }
  }
}
