.container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    min-width: 200px;
    width:94%;
    height: fit-content;
    padding: 0 5px;
    margin: 20px;
    margin-bottom: 0px;
    .select {
        border: none;
        //padding: 5px 10px;
        margin: 25px 0 5px 5px;
        width: 98%;
        height: 35px;
        outline: none;
        z-index: 2;
        background-color: transparent;
        cursor: pointer;
    }

    .text {
        position: absolute;
        color: var(--main-color);
        font-weight: 700;
        left: 15px;
        top: -3px;
        font-size: 0.7rem;
        padding-top: 10px;
    }
}
